*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
}
.navbar {
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.hamburguesa {
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.card-main{
    width: 25%;
    background-color: #BFBCAE;
    height: 100%;
}
img{
    width: 100%;
}
.title{
    width: 100%;
    font-size: 1rem;
    padding: .1rem;
    margin: .2rem;
}
.text-main{
    width: 75%;
    height: 100%;
}
footer{
    display: block;
    width: 100%;
}
/*Movil*/
@media (max-width: 768px) {
    .hamburguesa {
        display: block; 
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: #222;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }
    
    img{
        width: 100%;
    }
    .title{
        background-color: #BFBCAE;

    }
    .card-main h2{
        font-size: 1.2rem;
        text-align: center;
        padding: .5rem;
    }

    .present-text-main{
        margin: .7rem;
    }
    .present-text-main h1{
        text-align: center;
        font-size: 2rem;
        margin: 1.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .present-text-main p{
        text-align: justify;
        margin: .3rem;
        font-size: 1.3rem;
    }
    .appearance-text-main h1{
        text-align: center;
        font-size: 2rem;
        margin: 1.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .appearance-text-main{
        margin:.7rem;
    }
    .appearance-text-main p{
        text-align: justify;
        margin: .3rem;
        font-size: 1.3rem;
    }
    footer{
        background-color: #BFBCAE;
        padding: .7rem;
        border-top: solid .2rem;
    }
    .footer-text a i{
        font-size: 1.5rem;
        margin-right: 10px;
        color: white;
    }
    .footer-text span{
        width: 100%;
        margin: 2px;
        padding: 2px;
    }
}
